scrapy
scrapy-redis
scrapy-user-agents
scrapy-fake-useragent
apache-airflow==2.10.5
apache-airflow-providers-postgres
apache-airflow-providers-mongo
nltk
pandas
numpy
gensim
pyldavis
matplotlib
textblob
transformers
torch
requests
beautifulsoup4
lxml
pymongo
seaborn
wordcloud